name: Release Build

on:
  release:
    types: [published, edited]

jobs:
  build:
    permissions:
      contents: write
    runs-on: windows-latest

    strategy:
      matrix:
        target:
          - win-x64

    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Setup .NET
        uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4
        with:
          dotnet-version: "8.0"

      - name: Build
        run: |
          $version = "${{ github.event.release.tag_name }}".Substring(1)
          dotnet publish -p:Version=$version -r ${{ matrix.target }} -o out/${{ matrix.target }} -- ./src/node-service/BitcoinNodeService.csproj
        shell: pwsh
        

      - name: Archive and Hash
        run: |
          Compress-Archive -Path ./out/${{ matrix.target }}/* -DestinationPath ./out/${{ matrix.target }}.zip -CompressionLevel Optimal -Force
          Get-FileHash -Path ./out/${{ matrix.target }}.zip -Algorithm SHA256 | ForEach-Object { $_.Hash } | Out-File -FilePath ./out/${{ matrix.target }}.zip.sha256
        shell: pwsh

      - name: Upload
        run: gh release upload ${{ github.event.release.tag_name }} ./out/${{ matrix.target }}.zip ./out/${{ matrix.target }}.zip.sha256 --clobber
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
        shell: pwsh
