name: Test Build Configuration

on:
  workflow_dispatch:
    inputs:
      targets:
        description: Comma separated list of string targets to build
        default: '"win-x64"'

permissions:
  contents: read
jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        target: ${{ fromJson(format('[{0}]', inputs.targets || '"win-x64""')) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5

      - name: Build
        run: dotnet publish -p:Version=0.0.0-test -r ${{ matrix.target }} -o out/${{ matrix.target }} -- ./src/node-service/BitcoinNodeService.csproj

      - name: Archive and Hash
        run: |
          New-Item -Name artifacts -ItemType Directory
          Compress-Archive -Path ./out/${{ matrix.target }}/* -DestinationPath ./artifacts/${{ matrix.target }}.zip -CompressionLevel Optimal -Force
          Get-FileHash -Path ./artifacts/${{ matrix.target }}.zip -Algorithm SHA256 | ForEach-Object { $_.Hash } | Out-File -FilePath ./artifacts/${{ matrix.target }}.zip.sha256
        shell: pwsh

      - name: Upload
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: build-artifacts
          path: ./artifacts/*
